---
import { Image } from "astro:assets";

import Layout from "@/layouts/HeroLayout.astro";

import error404 from "@/assets/404 Error.svg";
---

<Layout>
  <div class="flex justify-center align-middle">
    <Image src={error404} alt="A description of my image." class="h-[50dvh]" />
  </div>
</Layout>
